<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">简介</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">oneroot STO 介绍</div>
          <div class="card-body">
            <div class="bd-example">

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

<%- include footer %>
