<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" href="/">
                  <i class="nav-icon icon-speedometer"></i> Dashboard
                  <span class="badge badge-primary">NEW</span>
              </a>
          </li>
          <li class="nav-title">简介</li>
          <li class="nav-item">
              <a class="nav-link" href="intro">
                  <i class="nav-icon icon-drop"></i>介绍</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="runCode">
              <i class="nav-icon icon-puzzle"></i> 运行代码</a>
          </li>

          <li class="nav-title">API</li>
          <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>基本</a>
              <ul class="nav-dropdown-items">

                <li class="nav-item">
                  <a class="nav-link" href="metamask">
                    <i class="nav-icon icon-puzzle"></i> MetaMask插件</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="getNetwork">
                    <i class="nav-icon icon-puzzle"></i> 获取以太网络</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="getAccount">
                    <i class="nav-icon icon-puzzle"></i> 钱包地址</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="getBalance">
                        <i class="nav-icon icon-puzzle"></i> 账户余额</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sign">
                    <i class="nav-icon icon-puzzle"></i> 签名</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="personalSign">
                    <i class="nav-icon icon-puzzle"></i> 用户签名</a>
                </li>

              </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>合约事件</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="contractSet">
                  <i class="nav-icon icon-puzzle"></i> 更新用户合约</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventWatch">
                  <i class="nav-icon icon-puzzle"></i> 监听合约事件</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventSubscribe">
                  <i class="nav-icon icon-puzzle"></i> 事件订阅</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventSave">
                  <i class="nav-icon icon-puzzle"></i> 保存事件信息</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventProcess">
                  <i class="nav-icon icon-puzzle"></i> 处理事件信息</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="txSet">
                  <i class="nav-icon icon-puzzle"></i> 更新上链hash</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="txProcess">
                  <i class="nav-icon icon-puzzle"></i> 处理上链hash</a>
              </li>

            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>ST合约</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="createST">
                  <i class="nav-icon icon-puzzle"></i>部署ST合约</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="changePolicyRegistry">
                  <i class="nav-icon icon-puzzle"></i>修改策略注册中心</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registryPolicy">
                  <i class="nav-icon icon-puzzle"></i>ST合约策略注册</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getPolicy">
                  <i class="nav-icon icon-puzzle"></i>ST合约关联策约</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="approve">
                  <i class="nav-icon icon-puzzle"></i>授权转账(approve)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="authorizeOperator">
                  <i class="nav-icon icon-puzzle"></i>授权转账</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="balanceOf">
                  <i class="nav-icon icon-puzzle"></i>账户ST余额</a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="balanceOfTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i>账户ST余额(指定部分)</a>-->
              <!--</li>-->
              <li class="nav-item">
                <a class="nav-link" href="mint">
                  <i class="nav-icon icon-puzzle"></i>配股</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchMint">
                  <i class="nav-icon icon-puzzle"></i>配股(批量)</a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="mintTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i>配股(指定部分)</a>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="batchMintTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i>配股(指定部分批量)</a>-->
              <!--</li>-->
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>STO合约</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="getSTOSecurityToken">
                  <i class="nav-icon icon-puzzle"></i>获取STO的ST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTODetails">
                  <i class="nav-icon icon-puzzle"></i>获取STO的配置</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTOrac">
                  <i class="nav-icon icon-puzzle"></i>获取STO的rac</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="createSTO">
                  <i class="nav-icon icon-puzzle"></i>部署STO合约</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="configureSTO">
                  <i class="nav-icon icon-puzzle"></i>配置STO合约</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buy">
                  <i class="nav-icon icon-puzzle"></i>STO投资（ETH）</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buyWithToken">
                  <i class="nav-icon icon-puzzle"></i>STO投资（Token）</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>GP合约</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="modifyWhiteList">
                  <i class="nav-icon icon-puzzle"></i>修改白名单</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchModifyWhiteList">
                  <i class="nav-icon icon-puzzle"></i>批量修改白名单</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>RAC合约</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="checkRole">
                  <i class="nav-icon icon-puzzle"></i>验证权限</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="addRole">
                  <i class="nav-icon icon-puzzle"></i>添加权限</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchAddRole">
                  <i class="nav-icon icon-puzzle"></i>批量添加权限</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="removeRole">
                  <i class="nav-icon icon-puzzle"></i>删除权限</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchRemoveRole">
                  <i class="nav-icon icon-puzzle"></i>批量删除权限</a>
              </li>
            </ul>
          </li>

        </ul>
    </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
